.profile-container {
    display: flex;
    position: relative;
    
    p {
        padding-left: 25px;
        padding-top: 5px;
        color: grey;
        opacity: 0.5;
        font-weight: bold;
    }

    .closeBtn2 {
        border: none;
        background-color: white;
        position: relative;
        left: 367px;
        font-size: 22px;
        color: grey;
        opacity: 0.8;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    .username {
        position: absolute;
        border: none;
        outline: none;
        overflow: hidden;
        resize: none;
        width: 290px;
        height: 30px;
        font-size: 26px;
        font-weight: bold;
        opacity: 0.7;
        top: 140%;
        left: 25%;
        
        &::placeholder {
            opacity: 0.4;
        }
    }

    footer {
        background-color: rgb(235, 235, 235);
        border-radius: 6px;
        height: 58px;
        width: 505px;
        position: absolute;
        top: 164px;
     
        .cancel {
            position: relative;
            margin-left: 15rem;
            margin-top: 21px;
            border: none;
            font-weight: bold;
            left: 100px;
            opacity: 0.5;

            &:hover {
                cursor: pointer;
            }
        }

           
        .save{
            position: relative;
            margin-left: 1rem;
            border-radius: 6px;
            border-color: rgb(40, 40, 40);
            border: none;
            background-color: rgb(40, 40, 40);
            color: white;
            font-size: 15px;
            width: 74px;
            height: 38px;
            left: 100px;

            &:hover {
                cursor: pointer;
            }

            &:disabled {
                opacity: 0.4;
            }
        }
    }
}