@keyframes editFormAppear{
    from {
        transform: scale(1, 0.8);
        opacity: 0.1;;
      }
      to {
        transform: scale(1, 1);
        opacity: 1
    }
}


.Tasks {
    font-family: "Arial";
    font-weight: 550;
    color: white;
    .tasks {
        font-size: 20px;
        top: 0px;
        margin-bottom: -32px;
        position: relative;
    }
    
    .breakline {
        width: 487px;
        background-color: white;
    }

    .taskslist {
        display: flex;
        background-color: white;
        color: black;
        margin-bottom: 10px;
        border-radius: 6px;
        align-items: center;
        width: 421px;
        height: 0px;
        padding: 30px;
        border-left-color: rgb(255, 255, 255);
        border-left-width: 6px;
        border-left-style: solid;
        
        &:hover {
            cursor: pointer;
            border-left-color: rgb(202, 201, 201);
        }

  

        input[type=checkbox] {
            display:none;

            &[type=checkbox] + label {
                content: url("../Icons/check.png");
                height: 30px;
                width: 30px;
                background-color: black;
                border-radius: 20px;
                opacity: 0.1;
                margin-right: 10px;
                cursor: pointer;
    
                &:hover {
                    opacity: 0.07;
                }
                
            }

            &[type=checkbox]:checked + label {
                content: url("../Icons/check.png");
                background: red;
                height: 30px;
                width: 30px;
                border-radius: 20px;
                opacity: 1;
                margin-right: 10px;
                cursor: pointer;
    
                &:hover {
                    opacity: 0.5;
                }
    
            }
    
        }

    
        .currenttask {
            inline-size: 275px;
            margin-right: 253px;
            overflow-wrap: break-word;
            pointer-events: none;
            opacity: 0.7;
        }

        .estpomodoros {
            position: relative;
            left: -221px;
            opacity: 0.3;
        }

        .listellipsis {
            height: 22px;
            margin-left: -201px;
            border-radius: 5px;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(211, 210, 210, 0.7);
            padding: 4px;

            &:hover {
                cursor: pointer;
            }
        }

    }

    .taskslist2 {
        display: flex;
        background-color: white;
        color: black;
        margin-bottom: 10px;
        border-radius: 6px;
        align-items: center;
        width: 421px;
        height: 0px;
        padding: 30px;
        border-left-color: rgb(255, 255, 255);
        border-left-width: 6px;
        border-left-style: solid;

        &:hover {
            cursor: pointer;
            border-left-color: rgb(202, 201, 201);
        }

        .check {
            height: 30px;
            width: 30px;
            background-color: black;
            border-radius: 20px;
            opacity: 0.1;
            margin-right: 10px;
            cursor: pointer;
            
            &:hover {
                opacity: 0.07;
            }
        }

        .currenttask {
            inline-size: 275px;
            margin-right: 253px;
            overflow-wrap: break-word;
            pointer-events: none;
            opacity: 0.7;
        }

        .estpomodoros {
            position: relative;
            left: -198px;
            opacity: 0.3;
        }

        .listellipsis {
            height: 22px;
            margin-left: -178px;
            border-radius: 5px;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(211, 210, 210, 0.7);
            padding: 4px;

            &:hover {
                cursor: pointer;
            }
        }

    }

    .taskslistactive {
        display: flex;
        background-color: white;
        color: black;
        margin-bottom: 10px;
        border-radius: 6px;
        justify-content: left;
        align-items: center;
        width: 421px;
        height: 0px;
        padding: 30px;
        border-left-color: black;
        border-left-width: 6px;
        border-left-style: solid;
        

        input[type=checkbox] {
            display:none;

            &[type=checkbox] + label {
                content: url("../Icons/check.png");
                height: 30px;
                width: 30px;
                background-color: black;
                border-radius: 20px;
                opacity: 0.1;
                margin-right: 10px;
                cursor: pointer;
    
                &:hover {
                    opacity: 0.07;
                }
                
            }

            &[type=checkbox]:checked + label {
                content: url("../Icons/check.png");
                background: red;
                height: 30px;
                width: 30px;
                border-radius: 20px;
                opacity: 1;
                margin-right: 10px;
                cursor: pointer;
    
                &:hover {
                    opacity: 0.5;
                }
    
            }
    
        }
        

        .currenttask {
            inline-size: 275px;
            margin-right: -12px;
            overflow-wrap: break-word;
            pointer-events: none;
            opacity: 0.7;
        }

        .estpomodoros {
            position: relative;
            left: 44px;
            opacity: 0.3;
        }

        .listellipsis {
            height: 22px;
            margin-left: 64px;
            border-radius: 5px;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(211, 210, 210, 0.7);
            padding: 4px;

            &:hover {
                cursor: pointer;
            }
        }

    }

    .taskBtn {
        display: flex;
        width: 487px;
        height: 60px;
        justify-content: center;
        align-items: center;
        border-style: dashed;
        border-color: white;
        background-color: rgb(217, 85, 80);
        color: white;
        opacity: 0.4;
        font-size: 16px;
        font-weight: bold;
        border-radius: 8px;
        
        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }

    }

    .newtask {
        background-color: white;
        border-radius: 6px;
        width: 487px;
        height: 200px;
        color: black;
        font-size: 14px;
        z-index: 1;
        margin-bottom: 75px;
        animation: 0.1s ease-in-out 0s 1 normal none running editFormAppear;
        
        textarea {
            border: none;
            outline: none;
            overflow: hidden;
            resize: none;
            width: 300px;
            height: 18px;
            font-size: 16px;
            font-weight: bold;
            margin-top: 15px;
        }

        p {
           font-size: 14px;
        }

        input {
            border: none;
            border-radius: 6px;
            height: 30px;
            background-color: rgb(235, 235, 235);
            outline: none;
            margin-top: 5px;
        }

        .estpomodorosbtns {
            margin-left: 10px;
            margin-right: -6px;
            border-radius: 5px;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(211, 210, 210, 0.7);
            box-shadow: 0 2px rgb(223, 222, 222);
            padding: 7px;
            width: 40px;
            background-color: white;

            img {
                position: relative;
                width: 12px;
                top: 3px;
                color: black;
            }

            &:hover {
                cursor: pointer;
            }

            &:active {
                position: relative;
                top: 3px;
                box-shadow: 0 0 ;
            }
        }

        footer {
            background-color: rgb(235, 235, 235);
            margin-top: 69px;
            border-radius: 6px;
            height: 58px;
            justify-content: center;
            align-items: center;

            .cancel {
                display: inline-block;
                position: relative;
                margin-left: 20rem;
                margin-top: 21px;
                border: none;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                }
            }

            .save {
                display: inline-block;
                margin-left: 1rem;
                border-radius: 6px;
                border-color: rgb(40, 40, 40);
                border: none;
                background-color: rgb(40, 40, 40);
                color: white;
                font-size: 15px;
                width: 74px;
                height: 38px;

                &:disabled {
                   opacity: 0.2;
                }
            }
        }
    }

    .editTask {
        background-color: white;
        border-radius: 6px;
        width: 487px;
        position: relative;
        color: black;
        font-size: 14px;
        z-index: 1;
        margin-bottom: 6px;
        overflow: hidden;
        animation: 0.1s ease-in-out 0s 1 normal none running editFormAppear;
        
        textarea {
            border: none;
            outline: none;
            overflow: hidden;
            resize: none;
            width: 300px;
            height: 18px;
            font-size: 16px;
            font-weight: bold;
        }

        p {
           font-size: 14px;
        }

        input {
            border: none;
            border-radius: 6px;
            height: 30px;
            background-color: rgb(235, 235, 235);
            outline: none;
            margin-top: 5px;
        }

        .estpomodorosbtns {
            margin-left: 10px;
            margin-right: -6px;
            border-radius: 5px;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(211, 210, 210, 0.7);
            box-shadow: 0 2px rgb(223, 222, 222);
            padding: 7px;
            width: 40px;
            background-color: white;

            img {
                position: relative;
                width: 12px;
                top: 3px;
                color: black;
            }

            &:hover {
                cursor: pointer;
            }

            &:active {
                position: relative;
                top: 3px;
                box-shadow: 0 0 ;
            }

        }

        footer {
            background-color: rgb(235, 235, 235);
            margin-top: 75px;
            border-radius: 6px;
            height: 58px;
            justify-content: center;
            align-items: center;
            
            .delete{
                display: inline-block;
                position: relative;
                margin-left: 2rem;
                margin-top: 21px;
                border: none;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                }
            }

            .cancel {
                display: inline-block;
                position: relative;
                margin-left: 15rem;
                margin-top: 21px;
                border: none;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                }
            }

            .save {
                display: inline-block;
                margin-left: 1rem;
                border-radius: 6px;
                border-color: rgb(40, 40, 40);
                border: none;
                background-color: rgb(40, 40, 40);
                color: white;
                font-size: 15px;
                width: 74px;
                height: 38px;

                &:disabled {
                   opacity: 0.2;
                }
            }
        }
    }
}

