.profile-container {
    display: flex;
    position: relative;
    
    p {
        padding-left: 25px;
        padding-top: 5px;
        color: grey;
        opacity: 0.5;
        font-weight: bold;
    }

    .closeBtn2 {
        border: none;
        background-color: white;
        position: relative;
        left: 367px;
        bottom: 10px;
        font-size: 22px;
        color: grey;
        opacity: 0.8;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    .propic-changer {
        position: relative;
        top: 60px;
        left: -90px;
        border-radius: 50px;
        border-style: dotted;
        border-color: rgb(160, 159, 159);
        border-width: 2px;

        .plus-container {
            opacity: 0;
            transition: .4s ease;
        
            .plus {
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: 40%;
                width: 40%;
    
                &:hover .current-propic {
                    opacity: 0.6;
                }
            }
        }

        .current-propic {
            display: inline-block;
            vertical-align: middle;
            width: 80px;
            height: 80px;
            position: relative;
            border-radius: 100%;
        }

        input[type="file"] {
            display: none;
        }
       
        &:hover .plus-container {
            opacity: 0.6;
        }

        &:hover {
            background-color: rgb(212, 212, 212);
            opacity: 0.9;
            cursor: pointer;
        }
        
    }

    .username {
        position: absolute;
        border: none;
        outline: none;
        overflow: hidden;
        resize: none;
        width: 290px;
        height: 30px;
        font-size: 26px;
        font-weight: bold;
        opacity: 0.7;
        top: 80%;
        left: 28%;
        
        &::placeholder {
            opacity: 0.4;
        }
    }

    footer {
        background-color: rgb(235, 235, 235);
        border-radius: 6px;
        height: 58px;
        width: 505px;
        position: absolute;
        top: 164px;
     
        .cancel {
            position: relative;
            margin-left: 15rem;
            margin-top: 21px;
            border: none;
            font-weight: bold;
            left: 100px;
            opacity: 0.4;

            &:hover {
                opacity: 0.5;
                cursor: pointer;
            }
        }

           
        .save{
            position: relative;
            margin-left: 1rem;
            border-radius: 6px;
            border-color: rgb(40, 40, 40);
            border: none;
            background-color: rgb(40, 40, 40);
            color: white;
            font-size: 15px;
            width: 74px;
            height: 38px;
            left: 100px;
            opacity: 0.9;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }

            &:disabled {
                opacity: 0.4;
            }
        }
    }
}