.default-propic {
    display: inline-flex;
    height: 30px;
    position: relative;
    left: 246px;
    top: 30px;
    
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }

}


.userDropdown {
    background-color: white;
    border-radius: 5px;
    width: 200px;
    height: 106px;
    position: absolute;
    margin-top: 30px;
    margin-left: 76px;
    color: black;
    font-size: 14px;
    z-index: 1;
    font-weight: 100;
    box-shadow: -1px 1px 1em rgba(0, 0, 0, 0.24);

    
    .functions-container {
        position: relative;
        height: 35px;
        border-radius: 4px;
       
        &:hover {
            background-color: rgb(236, 235, 235);
            cursor: pointer;
        }

        .functions {  
            display: flex;
            cursor: pointer;
            align-items: center;
            padding: 10px 16px;
            opacity: 0.8;
            
            img {
                position: relative;
                bottom: 1px;
                margin-right: 8px;
                width: 14px;
                opacity: 1;
            }
        }
    }
}