body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -132px;
    min-height: 100vh;
    background-color: rgb(217, 85, 80);
    overflow-x: hidden;
    margin-top: -145px;

    &.red {
        background-color: rgb(217, 85, 80);
        transition: background-color 1s;
    }

    &.lblue {
        background-color: rgba(76,145,149,255);
        transition: background-color 1s;
    }

    &.blue {
        background-color: rgba(69,124,163,255);
        transition: background-color 1s;
    }

    .header {
        display: inline-flex;
        margin-top: 140px;
        position: relative;
        top: -8px;
        margin-left: -55px;
        font-size: 20px;
        font-weight: 400;
        font-family: Bahnschrift SemiBold;
        color: white;

        .tomato {
            position: relative;
            width: 30px;
            height: 30px;
            top: 5px;
        }

        .logo {
            position: relative;
            top: 20px;
            right: 40px;
         
        }

        .settings {
            position: relative;
            width: 95px;
            height: 32px;
            top: 28px;
            left: 240px;
            background-color: rgba(224,116,112,255);
            color: white;
            border-radius: 4px;
            border: none;
            opacity: 0.8;
            margin-right: 10px;

            &:hover {
                cursor: pointer;
                opacity: 1;
            }

            &[name = pomodoroBtn] {
                background-color: rgba(221,102,98,255);
                transition: background-color 1s;
            }
        
            &[name = shortBtn] {
                background-color: rgba(108,165,168,255);
                transition: background-color 1s;
            }
        
            &[name = longBtn] {
                background-color: rgba(103,148,180,255);
                transition: background-color 1s;
            }

            
            .gear {
                display: flex;
                position: relative;
                width: 16px;
                top: 7px;
                left: 4px;
            }


            p {
                position: relative;
                bottom: 7px;
                left: 7px;
                bottom: 21px;
            }
        }
    }

    .App {
        background-color: rgba(221,102,98,255);	
        border-radius: 8px;
        height: 273px;
        padding: 14px;

        &.red {
            border-radius: 8px;
            height: 273px;
            background-color: rgba(221,102,98,255);
            transition: background-color 1s;
        }
        
        &.lblue {
            background-color: rgba(94,156,160,255);
            transition: background-color 1s;
        }
    
        &.blue {
            background-color: rgba(88,137,172,255);
            transition: background-color 1s;
        }
        
        .nav {
            
            &.red {
                button {
                background-color: rgba(221,102,98,255);
                transition: background-color 1s;

                &[value = true] {
                    background-color: rgba(0, 0, 0, 0.15);
                    transform: translateY(2px);
                }

                &:active {
                    background-color: rgba(0, 0, 0, 0.15);
                    transform: translateY(2px);
                }
        
                &:focus {
                    background-color: rgba(0, 0, 0, 0.15);
                    font-weight: 550;
                }
              }
            }
            
            &.lblue {
                button {
                background-color: rgba(94,156,160,255);
                transition: background-color 1s;

                &[value = true] {
                    background-color: rgba(0, 0, 0, 0.15);
                    transform: translateY(2px);
                }

                &:active {
                    background-color: rgba(0, 0, 0, 0.15);
                    transform: translateY(2px);
                }
        
                &:focus {
                    background-color: rgba(0, 0, 0, 0.15);
                    font-weight: 550;
                }
              }
            }
        
            &.blue {
                button {
                background-color: rgba(88,137,172,255);
                transition: background-color 1s;

                &[value = true] {
                    background-color: rgba(0, 0, 0, 0.15);
                    transform: translateY(2px);
                }
                
                &:active {
                    background-color: rgba(0, 0, 0, 0.15);
                    transform: translateY(2px);
                }
        
                &:focus {
                    background-color: rgba(0, 0, 0, 0.15);
                    font-weight: 550;
                }

              }
            }
        }



        .forwardbtn { 
            display: flex;
            width: 28px;
            margin: 13px; 
            margin-right: 56px;
            justify-content: center;
            align-items: center;
            float: right;
            display: none;

            &.on {
                display: flex;
                animation: fadeIn 1s ease-out;

                &:hover {
                    cursor: pointer;
                }
            }

            &.off {
                display: flex;
                animation: fadeOut 0.5s forwards;
            }

            &.hide {
                display: none;
            }
        }
    }

    .count {
        color: rgba(255, 255, 255, 0.575);
        display: flex;
        justify-content: center;
        min-height: 4vh;
        font-family: arial;
        margin-top: 22px;
    }

    .appstate {
        color: white;
        justify-content: center;
        margin-top: -6px;
        margin-left: 5px;
        text-align: center;
        font-size: 18px;
        font-family: sans-serif;
        inline-size: 477px;
        overflow-wrap: break-word;
    }

    .tasks {
        button {
            &[name = "pomodoroBtn"] {
                background-color: rgb(217, 85, 80);
                transition: background-color 1s;

                &:hover {
                    background-color: rgba(195,76,72,255);
                }
            }

            &[name = "shortBtn"] {
                background-color: rgba(76,145,149,255);
                transition: background-color 1s;

                &:hover {
                    background-color: rgba(68, 126, 129, 255);
                }
            }

            &[name = "longBtn"] {
                background-color: rgba(69,124,163,255);
                transition: background-color 1s;

                &:hover {
                    background-color: rgba(58, 105, 138, 255);
                }
            }
        }
    }

    .infos {
        min-height: 100vh;
    }

}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}